
<div class="checkr">
	<div class="cadre">
		
			<div class="about">
				
					<p>I am an applicant</p>
					<p>API&Docs</p>
					<p>Abouts Us</p>
					<p>Careers</p>
				
			</div>
				<div class="nav">
					
						<p>img</p>
						<p>product</p>
						<p>staffing</p>
						<p>industries</p>
						<p>resources</p>
						<p>compliance</p>
				</div>
						<div class="log">
							
								<p>log in</p>
								<p>get started</p>
							
						</div>
				</div>













</div>